.wrapper {
	.header {
		padding: 20px;
		background: #fed61b;

		border-radius: 20px 0;
		.title {
			font-size: 28px;
			font-weight: 500;
		}
		.search {
			font-size: 18px;
		}
	}
	.text {
		padding: 20px;
		line-height: 20px;
	}
}
